<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kern.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".project.ApplicationActivity"></activity>
        <activity android:name=".frame.RxJavaActivity"></activity>
        <activity android:name=".frame.rxjava.RxCreateActivity"/>
        <activity android:name=".frame.rxjava.RxZipActivity"/>
        <activity android:name=".frame.rxjava.RxMapActivity"/>
        <activity android:name=".frame.rxjava.RxFlatMapActivity"/>
        <activity android:name=".frame.rxjava.RxConcatMapActivity"/>
        <activity android:name=".frame.rxjava.RxDoOnNextActivity"/>
        <activity android:name=".frame.rxjava.RxFilterActivity"/>
        <activity android:name=".frame.rxjava.RxSkipActivity"/>
        <activity android:name=".frame.rxjava.RxTakeActivity"/>
        <activity android:name=".frame.rxjava.RxTimerActivity"/>
        <activity android:name=".frame.rxjava.RxIntervalActivity"/>
        <activity android:name=".frame.rxjava.RxJustActivity"/>
        <activity android:name=".frame.rxjava.RxSingleActivity"/>
        <activity android:name=".frame.rxjava.RxConcatActivity"/>
        <activity android:name=".frame.rxjava.RxDistinctActivity"/>
        <activity android:name=".frame.rxjava.RxBufferActivity"/>
        <activity android:name=".frame.rxjava.RxDebounceActivity"/>
        <activity android:name=".frame.rxjava.RxDeferActivity"/>
        <activity android:name=".frame.rxjava.RxLastActivity"/>
        <activity android:name=".frame.rxjava.RxMergeActivity"/>
        <activity android:name=".frame.rxjava.RxReduceActivity"/>
        <activity android:name=".frame.rxjava.RxScanActivity"/>
        <activity android:name=".frame.rxjava.RxWindowActivity"/>
        <activity android:name=".frame.rxjava.RxPublishSubjectActivity"/>
        <activity android:name=".frame.rxjava.RxAsyncSubjectActivity"/>
        <activity android:name=".frame.rxjava.RxBehaviorSubjectActivity"/>
        <activity android:name=".frame.rxjava.RxCompletableActivity"/>
        <activity android:name=".frame.rxjava.RxFlowableActivity"/>
        <!--user case-->
        <activity android:name=".frame.rxjava.usercase.RxNetSingleActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxNetworkActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxCaseZipActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxCaseFlatMapActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxCaseConcatActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxCaseDebounceActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxCaseIntervalActivity"/>
        <activity android:name=".frame.rxjava.usercase.RxThreadActivity"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>